{% extends "learning_logs/base.html" %}
{% block page_header %}
<h2 class="text-primary">All Topics</h2>
{% endblock page_header %}
{% block content %}
<ul class="list-group">
    {% for topic in topics %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'learning_logs:topic' topic.id %}" class="text-decoration-none text-dark">
                <strong>{{ topic }}</strong>
            </a>
            <i class="fas fa-arrow-right text-muted"></i>
        </li>
    {% empty %}
        <li class="list-group-item">No topics yet! 😔</li>
    {% endfor %}
</ul>
<a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary mt-3"><i class="fas fa-plus"></i> Add New Topic</a>
{% endblock content %}
